@font-face {
    font-family: 'Onesize';
    src: url('../fonts/onesize.woff2') format('woff2'), url('../fonts/onesize.woff') format('woff'), url('../fonts/onesize.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}